
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts | groupBy: 'categoryName' | pairs ">
      <td>{{ forecast[0] }}</td>
      <td>{{ locationsSum(forecast[1]) }}</td>
      <td colspan="2">
        <div class="row" *ngFor="let t of forecast[1]; index as i">
          <div>Task: {{t.itemName}}</div>
          <div>Task: {{t.price}}</div>
          <div>
            <button type="button" (click)="deleteData(t.id)">Delete</button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><b>Total:</b> </td>
      <td colspan="2"><b>{{total}}</b> </td>
    </tr>
    <tr>
      <td>
        <input type="text" placeholder="Item Name" name="itemname" id="itemname" required="required" [(ngModel)]="itemname" >
      </td>
      <td>
        <input type="number" name="price" id="price" required="required" value="3000" step="1" [(ngModel)]="price">
      </td>
      <td >
        <select [(ngModel)]="selectedValue" >
          <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
        </select>
      </td>
      <td>
        <button type="button" (click)="save()">save</button>
      </td>
    </tr>
  </tbody>
</table>
