
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | groupBy: 'categoryName' | pairs ">
      <td colspan="4">
        <table width="100%">
          <tr>
            <td>{{ product[0] }}</td>
            <td colspan="2">&nbsp; &nbsp; &nbsp; ${{ locationsSum(product[1]) }}</td>
          </tr>
          <tr *ngFor="let t of product[1]">
            <td width="30"></td>
            <td width="150">{{t.itemName}}</td>
            <td width="150">
              ${{t.price}} &nbsp; 
              <img src="/assets/images/delete.png" width="20" height="25" alt="Delete" (click)="deleteData(t.id)" />
            </td>
          </tr>

        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2"><b>Total:</b> </td>
      <td colspan="2"><b>${{total}}</b> </td>
    </tr>
    <tr>
      <td>
        <input type="text" placeholder="Item Name" name="itemname" id="itemname" required="required" [(ngModel)]="itemname">
      </td>
      <td>
        $<input type="number" name="price" id="price" required="required" value="3000" step="1" [(ngModel)]="price">
      </td>
      <td>
        <select [(ngModel)]="selectedValue">
          <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
        </select>
      </td>
      <td>
        <button type="button" (click)="save()">Add</button>
      </td>
    </tr>
  </tbody>
</table>
